body{background-color: azure;}
div.container{
    margin: 0 auto;
    width: 90%;
}
header{
    width: 100%;
    height: 100px;
    background-color: rgb(237, 130, 130);
}
nav{
    width: 20%;
    height: 300px;
    background-color: rgb(185, 111, 15);
    float: left;
}
div.content{
    width: 80%;
    height: 300px;
    background-color: rgb(215, 255, 196);
    float: right;
}
flooter{
    width: 100%;
    height: 50px;
    background-color: blanchedalmond;
}